<html>
    <head>
        <title>Collageify</title>

        <!-- Fontawesome, jQuery and Google Fonts -->
        <script src="https://use.fontawesome.com/3bd9d79351.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

        <!-- App -->
        <link type="text/css" href="{{ get_env('APP_URL') }}/min/bootstrap.css" rel="stylesheet">
        <link type="text/css" href="{{ get_env('APP_URL') }}/min/style.css" rel="stylesheet">
        <script src="{{ get_env('APP_URL') }}/min/bootstrap.bundle.js"></script>
        <script src="{{ get_env('APP_URL') }}/min/FileSaver.min.js"></script>
        <script src="{{ get_env('APP_URL') }}/min/html2canvas.js"></script>
        <script src="{{ get_env('APP_URL') }}/min/app.js"></script>

    </head>
    <body class="collageify-main">
    {# Navbar Includes #}
    {% include ('includes/navbar.twig') %}

    {# Content Block #}
    {% block content %}
    {% endblock %}

    {# Footbar Includes #}
    {% include ('includes/footer.twig') %}
    </body>
</html>